<html>

<head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/snippets/book.js"></script>
</head>

<body>
    <nav class="navbar">
        <a href="books">
            Cadastrar Livro
        </a>
        |
        <a href="reminders">
            Cadastrar Lembrete
        </a>
        |
        <a href="bookslist">
            Livros
        </a>
        |
        <a href="reminderslist">
            Lembretes
        </a>
    </nav>
    <div class="form-group">
        <form>
            <h1>Cadastrar Livro</h1>
            <div>
                <h3>Nome do Livro</h3>
                <input type="text" class="form-control" id="book-name-value"/>
                <h3>Quantidade de páginas</h3>
                <input type="number" class="form-control" id="book-pages-value"/>
                <h3>Imagem</h3>
                <input type="file" class="form-control" name="picture"/>
            </div>
            <button type="button" class="btn btn btn-primary" onclick="createBook()">Cadastrar</button>
        </form>
    </div>
    </div>
</body>

</html>