<html>

<head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="books">
            Cadastrar Livro
        </a>
        |
        <a href="reminders">
            Cadastrar Lembrete
        </a>
        |
        <a href="bookslist">
            Livros
        </a>
        |
        <a href="reminderslist">
            Lembretes
        </a>
    </nav>
    <div class="container txt">
        <h1>Bem vindo ao book reminder!</h1>
    </div>
</body>

</html>