<html>

<head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/snippets/reminderlist.js"></script>
</head>

<body>
    <nav class="navbar">
        <a href="books">
            Cadastrar Livro
        </a>
        |
        <a href="reminders">
            Cadastrar Lembrete
        </a>
        |
        <a href="bookslist">
            Livros
        </a>
        |
        <a href="reminderslist">
            Lembretes
        </a>
    </nav>
    <div class="form-group">
        <h1>Lembretes</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Livro</th>
                        <th>Data</th>
                        <th>Concluir</th>                        
                    </tr>
                </thead>
                <tbody id="reminders">

                </tbody>
            </table>
        </div>
</body>

</html>